# Final Project: Exploring Planet Habitability

## Import Python Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os
import re
import math
import time
import random

from time import sleep
from collections import Counter
from collections import defaultdict
from glob import glob
from tqdm import tqdm
from IPython.display import Image

## What makes a planet habitable?

[NASA Exoplanets Link]('https://seec.gsfc.nasa.gov/what_makes_a_planet_habitable.html')

The text indicates some high level factors that are needed life for a significant period of time.

- liquid water
    - The region around a star where liquid surface water can exist on a planet’s surface is called the “habitable zone.” 


- sun
    - Planet needs to orbit another star.
    - Also, there are different types of stars with different temps.
    -  There is a model for students at the website below
    
<font style='color:red'>Not done with list</font>

In [2]:
%%html
<iframe src='https://activity-player.concord.org/?page=page_100200&runKey=b6df6cb1-1a87-4120-9077-e7619785bde0&sequence=https%3A%2F%2Fauthoring.concord.org%2Fapi%2Fv1%2Fsequences%2F390.json&sequenceActivity=activity_7680' width="1200" height="800"></iframe>

## How do we find life outside our solar system? 

[Finding Habitable Planets]('https://seec.gsfc.nasa.gov/finding_habitable_planets.html')

<p>We start by looking for planets that resemble Earth, the only planet we know of that is habitable. This means we look for planets that are roughly the same size as Earth and orbit the right distance from their star to support liquid water at the surface, known as the habitable zone.</p>

## Search for Habitable planet database

- Tons of links
    - [The Planetary Habitability Laboratory (PHL)]('https://phl.upr.edu/data')
<br>
- One link that looked intresting<br>
    - [Habitable Zone Gallery]('http://www.hzgallery.org/table.html')

### Take a look at the Habitable Zone Gallery

In [3]:
df_habitable_zone_gal = pd.read_csv('Raw/habitable_zone_data.csv')
df_habitable_zone_gal.head()

,PLANET,MASS,RADIUS,PERIOD,ECC,OMEGA,THZC,THZO,TEQA,TEQB,TEQC,TEQD,OHZIN,CHZIN,CHZOUT,OHZOUT
0,11 Com b,19.400,,326.0,0.231,94.8,0.0,0.0,1209.5,1017.1,956.0,803.9,10.481,13.276,24.285,25.615
1,11 UMi b,14.740,,516.2,0.080,90.0,0.0,0.0,1111.3,934.5,1025.6,862.5,12.783,16.192,30.355,32.018
2,14 And b,4.800,,185.8,0.000,0.0,0.0,0.0,1003.1,843.5,1003.1,843.5,6.013,7.617,13.890,14.651
3,16 Cyg B b,1.780,,798.5,0.680,90.0,21.2,29.2,480.8,404.3,209.9,176.5,0.842,1.066,1.881,1.984
4,17 Sco b,4.320,,578.4,0.060,57.0,0.0,0.0,1038.4,873.2,977.9,822.3,10.825,13.712,25.776,27.188

*__What do the columns mean__?*

In [4]:
%%html
<iframe src='http://www.hzgallery.org/key.html' width="800" height="600"></iframe>

*__What could we use this dataset for__?*

- Mass:  Too much mass and the gravity would be too much
- Radius
- Potentially the equlibrium temperatures.

### Let's keep looking...