# Final Project: Exploring Planet Habitability

## Import Python Packages

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os
import re
import math
import time
import random

from time import sleep
from collections import Counter
from collections import defaultdict
from glob import glob
from tqdm import tqdm
from IPython.display import Image

## What makes a planet habitable?

[NASA Exoplanets Link]('https://seec.gsfc.nasa.gov/what_makes_a_planet_habitable.html')

The text indicates some high level factors that are needed life for a significant period of time.

- liquid water
    - The region around a star where liquid surface water can exist on a planet’s surface is called the “habitable zone.” 


- sun
    - Planet needs to orbit another star.
    - Also, there are different types of stars with different temps.
    -  There is a model for students at the website below
    
<font style='color:red'>Not done with list</font>

In [8]:
%%html
<iframe src='https://activity-player.concord.org/?page=page_100200&runKey=b6df6cb1-1a87-4120-9077-e7619785bde0&sequence=https%3A%2F%2Fauthoring.concord.org%2Fapi%2Fv1%2Fsequences%2F390.json&sequenceActivity=activity_7680' width="1200" height="800"></iframe>

## How do we find life outside our solar system? 

[Finding Habitable Planets]('https://seec.gsfc.nasa.gov/finding_habitable_planets.html')

<p>We start by looking for planets that resemble Earth, the only planet we know of that is habitable. This means we look for planets that are roughly the same size as Earth and orbit the right distance from their star to support liquid water at the surface, known as the habitable zone.</p>

## Search for Habitable planet database

- Tons of links
    - [The Planetary Habitability Laboratory (PHL)]('https://phl.upr.edu/data')
<br>
- One link that looked intresting<br>
    - [Habitable Zone Gallery]('http://www.hzgallery.org/table.html')

### Take a look at the Habitable Zone Gallery

In [9]:
df_habitable_zone_gal = pd.read_csv('Raw/habitable_zone_data.csv')
df_habitable_zone_gal.head()

,PLANET,MASS,RADIUS,PERIOD,ECC,OMEGA,THZC,THZO,TEQA,TEQB,TEQC,TEQD,OHZIN,CHZIN,CHZOUT,OHZOUT
0,11 Com b,19.400,,326.0,0.231,94.8,0.0,0.0,1209.5,1017.1,956.0,803.9,10.481,13.276,24.285,25.615
1,11 UMi b,14.740,,516.2,0.080,90.0,0.0,0.0,1111.3,934.5,1025.6,862.5,12.783,16.192,30.355,32.018
2,14 And b,4.800,,185.8,0.000,0.0,0.0,0.0,1003.1,843.5,1003.1,843.5,6.013,7.617,13.890,14.651
3,16 Cyg B b,1.780,,798.5,0.680,90.0,21.2,29.2,480.8,404.3,209.9,176.5,0.842,1.066,1.881,1.984
4,17 Sco b,4.320,,578.4,0.060,57.0,0.0,0.0,1038.4,873.2,977.9,822.3,10.825,13.712,25.776,27.188

*__What do the columns mean__?*

In [10]:
%%html
<iframe src='http://www.hzgallery.org/key.html' width="800" height="600"></iframe>

*__What could we use this dataset for__?*

- Mass:  Too much mass and the gravity would be too much
- Radius
- Potentially the equlibrium temperatures.

### Let's keep looking...

## Going back to the original question, "What makes a planet habitable?"

Strategy: Come up with a short list of properties. Use this list to guide data search and exploration.

The text indicates some high level factors that are needed life for a significant period of time.

- liquid water
    - The region around a star where liquid surface water can exist on a planet’s surface is called the “habitable zone.” 
- sun
    - Planet needs to orbit another star.
    - Also, there are different types of stars with different temps.
    -  There is a model for students at the website below
    
<font style='color:red'>Not done with list</font>

### According a Natural History Museum in the UK there are 8 ingredients for life in space.

*Each property is explained in greater detail on the web page below*

[Web Link to Article]('https://www.nhm.ac.uk/discover/eight-ingredients-life-in-space.html')

1. Water (Number 1 factor)
    - The region around a star where liquid surface water can exist on a planet’s surface is called the “habitable zone
1. Carbon
    - Carbon is the simple building block that organisms need to form organic compounds such as proteins, carbohydrates and fats.
1. Nitrogen
    - Nitrogen is also needed to make DNA and RNA, the carriers of the genetic code for life on Earth.
1. Phosphorus
    - Phosphorus is a key component of adenosine triphosphate (ATP)
    - And like nitrogen, phosphorus is necessary to create DNA and RNA
1. Sulphur
1. Luck
    - Overtime, major catastrophes such as impact by asteroids and massive volcanic eruptions have wiped out many species.
1. Time
    - Earlyest fossil evidence suggests life began after 1.1 billion years.
1. Location
    -  Need to orbit a star
    -  Need to be in the Goldilocks zone. Not to near or far from its orbiting star and not to close.
        -  What does this mean specifically?  
            - Distance?
            - Temperature of the sun.              
1. Atmosphere
    -  Without an ozone layer life would not be possiable due to extream radiation.
    

<span style="color:blue">

Comment: We probably won't be able to find a dataset where all of the above factors are described for all planets.  Therfore, we should place focus on the top 3 or 4.
    
    
From the NASA Exoplanet webpage below
- Planet needs to be the same size as Earth
- Planet need to be the same distance from its orbiting star as the distance from Earth to the sun.
- The Planets orbiting sun need to be the right temperature.
- The surface temperature need to be within a certain range (need to find this range).  This ties into distance from the planet to the orbiting star.


</span>

[NASA Exoplanets]('https://seec.gsfc.nasa.gov/finding_habitable_planets.html')

### Finding Habitable Planets

How do we find life outside our solar system? We start by looking for planets that resemble Earth, the only planet we know of that is habitable. This means we look for planets that are roughly the same size as Earth and orbit the right distance from their star to support liquid water at the surface, known as the habitable zone.

## So let's first get data on Earth that make it habitable.

#### Links

1. *Luck Facts Article Goes into Even More Factors that Make Earth Habitable than What Was Listed Above*<br>
[Lucky Facts Article]('https://www.livescience.com/21546-earth-facts.html')

2. Place Holder

## Scrape Planet HTML Data Tables

In [1]:
# import the necessary libraries
import requests
from bs4 import BeautifulSoup
import lxml.html as lh

In [2]:
# Get the web page content
url = 'https://nssdc.gsfc.nasa.gov/planetary/factsheet/index.html'
fact_sheet_metric = requests.get(url)

In [3]:
# Print out status code of response object object `home_page`
print(f'Status code for `home_page` response object: {fact_sheet_metric.status_code}')

fact_sheet_metric.text[:100]

Status code for `home_page` response object: 200

'<html>\n<head>\n<title>Planetary Fact Sheet</title>\n</head>\n<body bgcolor=FFFFFF>\n<p>                 '

In [5]:
tbl = lh.fromstring(fact_sheet_metric.content)

In [6]:
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = tbl.xpath('//tr')

In [8]:
# sanity Check the length of the first 5 rows.  Should be all the same
[len(T) for T in tr_elements[:5]]

[11, 11, 11, 11, 11]

In [10]:
# Parse the first row as the table header

tr_elements = tbl.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:" "
2:" MERCURY "
3:" VENUS "
4:" EARTH "
5:" MOON "
6:" MARS "
7:" JUPITER "
8:" SATURN "
9:" URANUS "
10:" NEPTUNE "
11:" PLUTO "

In [11]:
# Create a DataFrame
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=11:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to float
            try:
                data=float(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [16]:
Dict={title:column for (title,column) in col}
df_solar_sys_planet_facts_metric=pd.DataFrame(Dict)

df_solar_sys_planet_facts_metric

,,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO
0,Mass (1024kg),0.33,4.87,5.97,0.073,0.642,1898.0,568.0,86.8,102.0,0.013
1,Diameter (km),4879.0,"12,104","12,756",3475.0,6792.0,"142,984","120,536","51,118","49,528",2376.0
2,Density (kg/m3),5429.0,5243.0,5514.0,3340.0,3934.0,1326.0,687.0,1270.0,1638.0,1850.0
3,Gravity (m/s2),3.7,8.9,9.8,1.6,3.7,23.1,9.0,8.7,11.0,0.7
4,Escape Velocity (km/s),4.3,10.4,11.2,2.4,5.0,59.5,35.5,21.3,23.5,1.3
5,Rotation Period (hours),1407.6,-5832.5,23.9,655.7,24.6,9.9,10.7,-17.2,16.1,-153.3
6,Length of Day (hours),4222.6,2802.0,24.0,708.7,24.7,9.9,10.7,17.2,16.1,153.3
7,Distance from Sun (106 km),57.9,108.2,149.6,0.384*,228.0,778.5,1432.0,2867.0,4515.0,5906.4
8,Perihelion (106 km),46.0,107.5,147.1,0.363*,206.7,740.6,1357.6,2732.7,4471.1,4436.8
9,Aphelion (106 km),69.8,108.9,152.1,0.406*,249.3,816.4,1506.5,3001.4,4558.9,7375.9
10,Orbital Period (days),88.0,224.7,365.2,27.3*,687.0,4331.0,"10,747","30,589","59,800","90,560"
11,Orbital Velocity (km/s),47.4,35.0,29.8,1.0*,24.1,13.1,9.7,6.8,5.4,4.7
12,Orbital Inclination (degrees),7.0,3.4,0.0,5.1,1.8,1.3,2.5,0.8,1.8,17.2
13,Orbital Eccentricity,0.206,0.007,0.017,0.055,0.094,0.049,0.052,0.047,0.01,0.244
14,Obliquity to Orbit (degrees),0.034,177.4,23.4,6.7,25.2,3.1,26.7,97.8,28.3,122.5
15,Mean Temperature (C),167.0,464.0,15.0,-20.0,-65.0,-110.0,-140.0,-195.0,-200.0,-225.0
16,Surface Pressure (bars),0.0,92.0,1.0,0.0,0.01,Unknown*,Unknown*,Unknown*,Unknown*,0.00001
17,Number of Moons,0.0,0.0,1.0,0.0,2.0,79.0,82.0,27.0,14.0,5.0
18,Ring System?,No,No,No,No,No,Yes,Yes,Yes,Yes,No
19,Global Magnetic Field?,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Unknown
20,,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO

In [17]:
# Save the data to a csv
df_solar_sys_planet_facts_metric.to_csv('Raw/planet_facts_solar_system_metric.csv')

In [ ]:
### So lets find datasets with the above data in blue.  Maybe start with our